.characteristics__video {
   position: relative;
   border: 1px solid var(--main-color);
   border-radius: 12px;
   overflow: hidden;
}

@media(width > 768px) {
   .characteristics__video {
      margin-bottom: 80px;
   }
}

@media(width <=768px) {
   .characteristics__video {
      margin-bottom: 40px;
   }
}

.characteristics__video-play-link {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%);
   background-color: rgba(42, 42, 41, 0.5);
   border-radius: 50%;
   border: 1px solid var(--main-color);
   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow: var(--shadow-glow), inset var(--shadow-glow);
   transition: box-shadow var(--transition-time), border var(--transition-time);
}



@media(any-hover: hover) {
   .characteristics__video-play-link:hover {
      box-shadow: var(--shadow-accent-glow), inset var(--shadow-accent-glow);
      border: 1px solid var(--accent-color);

   }
}

@media(width > 576px) {
   .characteristics__video-play-link {
      width: 80px;
      height: 80px;
   }

   .characteristics__video-play-row {
      width: 17px;
      height: 24px;
   }
}

@media(width <=576px) {
   .characteristics__video-play-link {
      width: 48px;
      height: 48px;
   }

   .characteristics__video-play-row {
      width: 14px;
      height: 18px;
   }
}

.characteristics__grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
   gap: 40px 20px;

}
.characteristics-card-icon {
   margin-bottom: 5px;
   transform: translateX(-8px);
}

@media(width > 576px) {
   .characteristics-card-icon {
      width: 56px;
      height: 56px;
   }
}
@media(width <= 576px) {
   .characteristics-card-icon {
      width: 49px;
      height: 49px;
   }
}

.characteristics-card-title {
   font-family: var(--font-family);
   font-weight: 600;
   font-size: 18px;
   text-transform: uppercase;
   color: var(--main-color);
   margin-bottom: 20px;
}

.characteristics-card-text {
   font-family: var(--font-family);
   font-weight: 300;
   font-size: 14px;
   line-height: 140%;
   color: var(--main-color);
}