.footer {
   padding-block: 30px;
   border-top: 1px solid var(--main-color);
}

.footer__container {
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
}

@media(width > 576px) {
   .footer__container {
      justify-content: space-between;
      align-items: center;
   }
}



.footer__phone {
   font-family: var(--font-family);
   font-weight: 500;
   font-size: 16px;
   line-height: 130%;
   color: var(--main-color);
}

@media   (width <= 576px) {

      .footer__container {
         flex-direction: column;
      }
   .footer__menu .menu__list {
      flex-direction: column;
      align-items: flex-start;
   }
}