.header-inner {
   gap: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 30px;
   padding-bottom: 30px;
   border-bottom: 1px solid #00000033
}

.phone {
   font-weight: 300;
   font-size: 14px;
   letter-spacing: 0.04em;
   text-transform: uppercase;
   text-align: right;
   color: #858e8a;
}

.phone-text {
   margin-bottom: 8px;
}

.phone-link {
   font-weight: 500;
   font-size: 18px;
   color: #2C332F;
   transition: color 0.2s;
}

.phone-link:hover {
   color: rgb(0, 180, 180);
}

.logo-icon {
   width: 84px;
   height: 45px;
}

body {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

footer {
   margin-top: auto;
   text-align: center;
   padding: 60px 0 40px;
   background: linear-gradient(90deg, rgba(73, 169, 255, 0.2) 0%, rgba(252, 124, 217, 0.2) 100%);
   ;
}
.footer-top {
   padding-bottom: 40px;
   margin-bottom: 40px;
   border-bottom: 1px solid #D3CBD9;
}

.footer-logo {
   display: inline-block;
   margin-bottom: 40px;
}

.menu {
   display: flex;
   list-style: none;
   margin: 0;
   padding: 0;
   justify-content: center;
   align-items: center;
   gap: 60PX;
}

.menu a {
   font-family: var(--font-family);
   font-weight: 400;
   font-size: 16px;
   line-height: 130%;
   color: #535755;
   transition: color 0.2s;
}

.menu a:hover {
   color: rgb(0, 180, 180);
}

.copu {
   font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
letter-spacing: 0.04em;
color: #858E8A;
}