body {
font-family: sans-serif;
}


input {
   display: block;
}

/* .li {
margin-bottom: 20px;
} */
textarea {
resize: vertical;
display: block;
max-height: 150px;
min-height: 30px;
}
fieldset {
   display: inline-block;
}
.asd {
   display: inline;
}

button {
   display: block;
   margin-top: 10px
}
