body {
   background-color: #181e34;
   /* font-size: 16px; */
   line-height: 24px;
   color: #fff;
   font-family: 'Montserrat', 'Arial', sans-serif;
}

.contaener {
   max-width: 930px;
   margin: 0px auto;
   padding: 0px 15px;
   height: 100%;
}

/* ============================================================================================== */

.header-inner {
   display: flex;
   align-items: center;

}

.header-nav {
   margin-left: auto;
}

.header-list {
   display: flex;
}

.header-item {
   margin-right: 30px;
}

.header-btn {
   background-color: #fff;
   border-radius: 100px;
   color: #2766AE;
   padding: 14px 30px;
   width: 113px;
   height: 48px;
}

.header {
   padding: 30px 0px 36px;
}

/* =============================================================== */

.hero {
   background: url(../img/фон.png) 10% 50% / cover no-repeat;
   /* height: 500px; */
   height: 408px;
}

.hero-title {

   font-weight: 600;
   font-size: 40px;
   text-transform: uppercase;
   line-height: 49px;
   text-align: center;
   margin-bottom: 60px;
}

.hero-inner {
   align-items: center;
   display: flex;
   justify-content: space-between;
   margin-bottom: 140px;

}

.hero-text {
   max-width: 436px;
   max-height: 159px;
   margin: top 50px;
}


.hero-btns {
   display: flex;
   flex-direction: column;
   width: 100%;
   max-width: 320px;
}


.hero-btn-1,
.hero-btn-2 {
   border-radius: 100px;
   padding: 18px 30px;
   text-align: center;
}

.hero-btn-1 {
   background: linear-gradient(180deg, #00a4cc 0%, #2766ae 100%);
   margin-bottom: 10px;
}

.hero-btn-2 {
   background: linear-gradient(129deg, #00a4cc 0%, #2766ae 100%);

}

/* ================================================================= */

.card {
   margin-top: 120px;
   margin-bottom: 120px;
}


.p-1 {
   margin-bottom: 15px;
}

.act {
   font-weight: 700;
   font-size: 16px;
   text-transform: uppercase;
   color: #01a2cb;
}

.title {

   font-weight: 600;
   font-size: 40px;
   text-transform: uppercase;
   line-height: 49px;
   text-align: center;
}


.t2 {
   text-align: center;
   max-width: 513;
   width: 100%;
   margin-top: 15px;
   margin-bottom: 60px;
}




h6 {
   font-weight: 600;
   font-size: 22px;
   text-transform: uppercase;
}

.cards-flex {
   display: flex;
   flex-wrap: wrap;
   text-align: center;
   margin-bottom: 30px;



}

.item {
   border: 2px solid #176bae;
   background: #197CB8;
   border-radius: 16px;
   padding: 28px;
   width: 204px;
   height: 141px;
   margin: 10px;
}

.button12 {
   display: block;
   background: linear-gradient(180deg, #00a4cc 0%, #2766ae 100%);
   border-radius: 100px;
   padding: 18px 30px;
   width: 436px;
   height: 56px;
   text-align: center;
   margin: 0 auto;
}



/* =================================================================== */
.footer {
   border-top: 1px solid #8b8b8b;
}

.footer-inner {
   display: flex;
}

.footer-desc {
   max-width: 267px;
   margin-right: auto;

}

.footer-desc img {
   margin-bottom: 15px;
}

.footer-list {
   
}

h5 {
   font-weight: 600;
   font-size: 22px;
   text-transform: uppercase;
}

.footer-text {
   display: flex;
}

.jjj {
   margin-right: 30px;
}