.page {
   font-family: var(--font-family);
   font-weight: 400;
   color: var(--main-color );
}

.page__body {
   min-width: 375px;
min-height: 200vh;
   background-color: var(--bg-color);
}

.container {
   /* width: var(--container-wight); */
   width: min(var(--container-wight), 100% - var(--container-paddig) * 2);
   margin: 0 auto;
}


a:focus-visible,
button:focus-visible {
   outline: 1px solid var(--accent-color);
   outline-offset: 2px;
}

.title-md {
font-weight: 600;
font-size: 60px;
text-transform: uppercase;
color: var(--main-color);
}

.text-regular,
.text-light{
font-size: 16px;
line-height: 140%;
color: var(--main-color);
}


.text-regular {
   font-weight: 400;
}

.text-light {
   font-weight: 300;
}

img {
   object-fit: cover;
}

