.page {
   font-family: var(--font-family);
   font-weight: 400;
   color: var(--main-color );
}

.page__body {
   min-width: 375px;
min-height: 200vh;
   background-color: var(--bg-color);
}

.container {
   /* width: var(--container-wight); */
   width: min(var(--container-wight), 100% - var(--container-paddig) * 2);
   margin: 0 auto;
}